{% extends "base/core.html"%}
{%load static%}
{%block mensaje%}
<div class="hiddens" id="mensajes">
    {% include "partials/_message.html"%}
</div>
{%endblock%}
{%block body%}
<br/>
<div class="row">
    <div class="col-6 text-center">
        <h1>Bienvenido a tu bodega</h1>
    </div>
</div>
<table class="table" id="tablaProduc">
    <thead>
        <tr>
            <th>Nombre Producto</th>
            <th>Categoria</th>
            <th>Stock</th>
            <th>Precio</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {%for item in variable%}
            <tr>
                <td>{{item.product.name}}</td>
                <td>{{item.product.category.name}}</td>
                <td>{{item.stock}}</td>
                <td>{{item.product.price}}</td>
                <td class="w-25">
                    <div class="row">
                        <div class="col-10">
                            <input type="number" class="form-control totalProduct" max="{{item.stock}}" data-maxp="{{item.stock}}">
                        </div>
                        <div class="col-2">
                            <span class="btn btn-info addCar" data-idproduct="{{item.product.id}}"><i class="fas fa-plus-circle"></i></span>
                        </div>
                    </div>
                </td>
            </tr>
        {%endfor%}
    </tbody>
</table>
<hr>
<div id="innerTable">
{%if carrito%}
<table class="table" id="tabla">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="car_productos">
        {%for item in productos%}
            <tr class="{{item.id}}_producto">
                <td class="car_name">{{item.product.name}}</td>
                <td class="car_product">{{item.total}}</td>
                <td><i class="btn btn-warning fas fa-minus remove" data-idproduct="{{item.id}}"></i></td>
            </tr>
        {%endfor%}
    </tbody>
</table>
{%endif%}
</div>
<div class="row w-100">
    <div class="col-12 text-center">
        <div class="btn btn-success w-50">Realizar Compra</div>
    </div>
</div>
<br/>

{%endblock%}
{%block js%}
<script src="{%static '/js/index.js'%}"></script>
{%endblock%}