{% extends "base/core.html"%}
{%block body%}
<br/>
<div class="row">
    <div class="col-6 text-center">
        <h1>Bienvenido a tu bodega</h1>
    </div>
    <div class="col-6 text-center">
        <a href="/logout" class="btn btn-warning w-25">Salir</a>
    </div>
</div>
<table class="table" id="tablaProduc">
    <thead>
        <tr>
            <th>Nombre Producto</th>
            <th>Categoria</th>
            <th>Stock</th>
            <th>Precio</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {%for item in variable%}
            <tr>
                <td>{{item.product.name}}</td>
                <td>{{item.product.category.name}}</td>
                <td>{{item.stock}}</td>
                <td>{{item.product.price}}</td>
                <td class="w-25">
                    <div class="row">
                        <div class="col-10">
                            <input type="number" class="form-control totalProduct" max="{{item.stock}}" data-maxp="{{item.stock}}">
                        </div>
                        <div class="col-2">
                            <span class="btn btn-info addCar" data-idproduct="{{item.product.id}}"><i class="fas fa-plus-circle"></i></span>
                        </div>
                    </div>
                </td>
            </tr>
        {%endfor%}
    </tbody>
</table>
<hr>
<div id="innerTable">
{%if carrito%}
<table class="table" id="tabla">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody id="car_productos">
        {%for item in productos%}
            <tr class="{{item.id}}_producto">
                <td class="car_name">{{item.product.name}}</td>
                <td class="car_product">{{item.total}}</td>
            </tr>
        {%endfor%}
    </tbody>
</table>
{%endif%}
</div>
<br/>

{%endblock%}
{%block js%}
    <script>
        $(document).ready(function(){
            $('#tablaProduc').DataTable();

            $('.totalProduct').on("input",function(){
                if( $(this).val() > parseFloat($(this).data("maxp"))){
                    $(this).val(parseFloat($(this).data("maxp")))
                }
            });

            $('.addCar').on("click",function(){
                var totalproduct = $(this).parent().parent().find(".totalProduct");
                $.ajax({
                    //data:{
                      //  total:totalproduct,
                       // pk:$(this).data("idproduct")
                    //},
                    type:'GET',
                    //dataType:'json',
                    url:'/add_car_user?total_product='+totalproduct.val()+
                    '&&pk_product='+$(this).data("idproduct"),
                    success:function(request){
                        var tabla = document.querySelector("#tabla");
                        if(tabla == null){
                            
                            var newTable = document.createElement("table");
                            newTable.setAttribute("id","tabla");
                            newTable.setAttribute("class","table");
                            
                            var newTHead = document.createElement("thead");
                            
                            var TrHead = document.createElement("tr");
                            
                            var thHead0 = document.createElement("th");
                            thHead0.innerHTML = "Producto";
                            
                            var thHead1 = document.createElement("th");
                            thHead1.innerHTML = "Cantidad";
                            TrHead.appendChild(thHead0);
                            TrHead.appendChild(thHead1);
                            newTHead.appendChild(TrHead);
                            newTable.appendChild(newTHead);
                            
                            var newTBody = document.createElement("tbody");        
                            newTBody.setAttribute("id","car_productos");
                            newTable.appendChild(newTBody);
                            
                            var divTable = document.querySelector("#innerTable");
                            divTable.appendChild(newTable);
                        }
                        var trTable = document.createElement("TR");//<tr></tr>
                        trTable.setAttribute("class",request["pk_producto"].toString()+"_producto"); //<tr class="id_producto"></tr>
                        
                        var tdTableName = document.createElement("TD");//<td></td>
                        tdTableName.setAttribute("class","car_name");//<td class="car_name"></td>
                        tdTableName.innerHTML = request["name"];//<td class="car_name">name</td>
                        
                        var tdTableTotal = document.createElement("TD");//<td></td>
                        tdTableTotal.setAttribute("class","car_product");//<td class="car_total"></td>
                        tdTableTotal.innerHTML = parseFloat(request["total"]);//<td class="car_total">total</td>
                        //aqui inserta la eliminacion!!!!
                        trTable.appendChild(tdTableName);//<tr class="id_producto"><td class="car_name">name</td><tr/>
                        trTable.appendChild(tdTableTotal);//<tr class="id_producto"><td class="car_name">name</td><td class="car_total">total</td><tr/>

                        var tbody = document.querySelector("#car_productos");//<tbody id="car_productos"></tbody>

                        tbody.appendChild(trTable);//<tbody id="car_productos">
                                                    //<tr class="id_producto"><td class="car_name">name</td><td class="car_total">total</td><tr/>
                                                    //</tbody>   
                    },
                    error:function(xhr,err){
                        console.log(xhr.error);
                        console.log(err);
                    },
                    complete:function(xhr,status){
                        console.log("finalizo");
                    }

                })
            });

        });
    </script>
{%endblock%}