{% extends "base/core.html"%}
{%load static%}
{%block title%}Configuracion{%endblock%}
{%block mensaje%}
<div class="hiddens" id="mensajes">
    {% include "partials/_message.html"%}
</div>
{%endblock%}
{%block body%}
<div class="card">
    <div class="card-header">
        <a href="/edit_user">Para mayor seguridad cambia tu contraseña desde aqui</a>
    </div>
    <div class="card-body">
        {{form}}
    </div>
</div>

{%endblock%}
{%block js%}
<script src="{%static '/js/index.js'%}"></script>
{%endblock%}