{% extends "base/core.html"%}
{%load static%}
{%block mensaje%}
<div class="hiddens" id="mensajes">
    {% include "partials/_message.html"%}
</div>
{%endblock%}
{%block body%}
<br/>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="pk" value="{{pk}}">
    <div class="row">
        <div class="col-6">{{form.fileUp}}</div>
        <div class="col-3"><button type="submit" class="btn btn-info" id="preview" name="preview" value="true">Previzualisar <i class="fas fa-eye"></i></button></div>
        <div class="col-3"><button type="submit" class="btn btn-info" id="upload" name="preview" value="false"><i class="fas fa-upload"></i></button></div>
    </div>
</form>
{%endblock%}
{%block js%}
{%if obj == None%}
    <script>
        $(document).ready(function(){
            $("#upload").addClass("hiddens");
        })
    </script>
{%else%}
<script>
    $(document).ready(function(){
        $("#preview").addClass("hiddens");
    })
</script>
{%endif%}
{%endblock%}