{% extends "base/core.html"%}
{%load static%}
{%block mensaje%}
{%endblock%}
{%block nav%}
{%endblock%}
{%block side%}
{%endblock%}
{%block wrapper%}
{%block body%}
    <div class="row w-100 justify-content-md-center">
        <div class="col-5 text-center">
            <form method="POST" class="form w-100">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit" class="btn btn-success w-100">Iniciar Sesion</button>
            </form>
            <br/>
            <a href="#">¿Olvidaste tu contraseña?</a>
            <br/>
            <a href="/new_user" class="btn btn-info">Registrate</a>
        </div>
    </div>
{%endblock%}
{%endblock%}
{%block asideRight%}
{%endblock%}
{%block footer%}
{%endblock%}
{%block js%}
<script>
    $(document).ready(function(){
        $('#id_username').addClass("form-control");
        $('#id_password').addClass("form-control");  
  }); 
</script>
{%endblock%}