{% extends "base/core.html"%}
{%load static%}
{%block mensaje%}
{%endblock%}
{%block body%}
<div class="container w-100">
    <div class="row w-100 justify-content-md-center">
        <div class="col-5 text-center">
            <form method="POST" class="form w-100">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit" class="btn btn-success w-100">Registrarte</button>
            </form>
            <a href="/" class="btn btn-info">Ya tienes un usuario Inicia Sesion</a>
        </div>
    </div>
</div>
{%endblock%}
{%block js%}
{%endblock%}