{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestro titulo</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static '/css/fontawesome-free/css/all.min.css'%}">
    <link rel="stylesheet" href="{% static '/css/datatable/datatable.css'%}">
    <link rel="stylesheet" href="{% static '/css/index/index.css'%}">
</head>
<body>
    <div class="container">
        {%block body%}
        {%endblock%}
    </div>
    <script src="{%static '/js/jquery/jquery.js'%}"></script>
    <script src="{%static '/js/jquery/datatable.js'%}"></script>
    <script src="{%static '/js/bootstrap/bootstrap.min.js'%}"></script>
    {%block js%}
    {%endblock%}
</body>
</html>